html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4; 
    display: flex;
    flex-direction: column;
    background-color: #dcd3c8;
}
.header {
    background-color: #564f43;
    color: white;
    padding: 10px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}
.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 57px);
    min-height: 0;
}
#input, #output { 
    width: 100%; 
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.2);
    border: 1px solid #989898;
    border-radius: 10px;
}
#input {
    width: 100%; 
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.2);
    border: 1px solid #989898;
    border-radius: 10px;
    height: 150px;
    min-height: 20px;
    max-height: 80vh;
    margin-bottom: 10px;
    resize: vertical !important;
    padding: 10px;
    overflow: auto;
    white-space: pre;
}
#output { 
    flex: 1;
    min-height: 0;
    overflow: auto; 
    padding: 10px;
    background-color: white;
}
.controls {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.controls label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px; 
    padding-bottom: 3px;
    font-weight: 500;
}
.controls input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.controls input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: none;
}

.controls input[type="checkbox"]:checked::after {
    display: block;
}

#showTags:checked::after { background-color: #00f; }
#showClasses:checked::after { background-color: #090; }
#showIds:checked::after { background-color: rgb(227, 0, 53); }
#showContentSource:checked::after { background-color: #00aaff; }
#showStyleAppearance:checked::after { background-color: #ff00fb; }
#showFormInput:checked::after { background-color: #ff5500; }
#showAccessibilityRoles:checked::after { background-color: #aa00ff; }
#showMetadataRelationships:checked::after { background-color: #ff00c8; }
#showMultimedia:checked::after { background-color: #8B4513; }
#showScriptingBehavior:checked::after { background-color: #4682B4; }
#showImages:checked::after { background-color: #20B2AA; }
#showOthers:checked::after { background-color: #43003c; }
#showInnerText:checked::after { background-color: black; display: block; }

button {
    padding: 4px 15px 6px 15px;
    font-size: 16px;
    font-family: inherit;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
    font-weight: 500;
}
button:hover {
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.807);
}
.header h1 .header-span {
    font-weight: 100;
}
.tree-view { 
    font-family: monospace; 
    font-size: 14px;
    line-height: 1.3;
}
.tree-view ul { list-style-type: none; padding-left: 16px; margin: 0; }
.tree-view li { position: relative; padding-left: 19px; }
.tree-view li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    border-left: 1px solid #8888887e;
    height: 100%;
}
.tree-view li:last-child::before { height: 9px; }
.tree-view li::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 16px;
    border-top: 1px solid #8888887e;
}
.tree-view > ul > li:first-child::before { top: 9px; }
.tree-view .collapsible {
    cursor: pointer;
    user-select: none;
}
.tree-view .collapsible::before {
    content: '▼';
    color: #5c5e7784;
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 8px;
    padding: 5px;
    position: absolute;
    left: -10.4px;
    top: 0.8px;
    text-align: center;
    line-height: 10px;
    z-index: 1;
}
.tree-view .collapsed > .collapsible::before { 
    content: '►'; 
    top: -0.9px; 
    left: -8.6px;
    font-size: 10px;
}
.tree-view .collapsed > ul { display: none; }
.tree-view .tag { color: #00f; }
.tree-view .class { color: #090; }
.tree-view .id { color: rgb(227, 0, 53); }
.tree-view .content-source { color: #00aaff; }
.tree-view .style-appearance { color:#ff00fb; }
.tree-view .form-input { color: #ff5500; }
.tree-view .accessibility-roles { color: #aa00ff; }
.tree-view .metadata-relationships { color: #ff00aa; }
.tree-view .multimedia { color: #8B4513; }
.tree-view .scripting-behavior { color: #4682B4; }
.tree-view .image-specific { color: #20B2AA; }
.tree-view .other-attributes { color: #43003c; }
.tree-view .inner-content { 
    color: black;
}
