tmp/
.vscode/

node_modules/

# Ignore React development files but keep the build
react/src/
react/public/
react/node_modules/
react/.env*
react/package.json
react/package-lock.json
react/vite.config.js
react/*.log

